@font-face {
    font-family: Gilroy;
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold");
    src: url(../fonts/Gilroy/Gilroy-ExtraBold.woff) format("woff");
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy Heavy"), local("Gilroy-Heavy");
    src: url(../fonts/Gilroy/Gilroy-Heavy.woff) format("woff");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy LightItalic"), local("Gilroy-LightItalic");
    src: url(../fonts/Gilroy/Gilroy-LightItalic.woff) format("woff");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy ThinItalic"), local("Gilroy-ThinItalic");
    src: url(../fonts/Gilroy/Gilroy-ThinItalic.woff) format("woff");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy BlackItalic"), local("Gilroy-BlackItalic");
    src: url(../fonts/Gilroy/Gilroy-BlackItalic.woff) format("woff");
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy BoldItalic"), local("Gilroy-BoldItalic");
    src: url(../fonts/Gilroy/Gilroy-BoldItalic.woff) format("woff");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy SemiBold"), local("Gilroy-SemiBold");
    src: url(../fonts/Gilroy/Gilroy-SemiBold.woff) format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy UltraLightItalic"), local("Gilroy-UltraLightItalic");
    src: url(../fonts/Gilroy/Gilroy-UltraLightItalic.woff) format("woff");
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy SemiBoldItalic"), local("Gilroy-SemiBoldItalic");
    src: url(../fonts/Gilroy/Gilroy-SemiBoldItalic.woff) format("woff");
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy Light"), local("Gilroy-Light");
    src: url(../fonts/Gilroy/Gilroy-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy MediumItalic"), local("Gilroy-MediumItalic");
    src: url(../fonts/Gilroy/Gilroy-MediumItalic.woff) format("woff");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy ExtraBoldItalic"), local("Gilroy-ExtraBoldItalic");
    src: url(../fonts/Gilroy/Gilroy-ExtraBoldItalic.woff) format("woff");
    font-weight: 800;
    font-style: italic
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy Regular"), local("Gilroy-Regular");
    src: url(../fonts/Gilroy/Gilroy-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy HeavyItalic"), local("Gilroy-HeavyItalic");
    src: url(../fonts/Gilroy/Gilroy-HeavyItalic.woff) format("woff");
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy Medium"), local("Gilroy-Medium");
    src: url(../fonts/Gilroy/Gilroy-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy RegularItalic"), local("Gilroy-RegularItalic");
    src: url(../fonts/Gilroy/Gilroy-RegularItalic.woff) format("woff");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy UltraLight"), local("Gilroy-UltraLight");
    src: url(../fonts/Gilroy/Gilroy-UltraLight.woff) format("woff");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy Bold"), local("Gilroy-Bold");
    src: url(../fonts/Gilroy/Gilroy-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy Thin"), local("Gilroy-Thin");
    src: url(../fonts/Gilroy/Gilroy-Thin.woff) format("woff");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy Black"), local("Gilroy-Black");
    src: url(../fonts/Gilroy/Gilroy-Black.woff) format("woff");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: Galien;
    src: local("Galien Regular"), local("Galien-Regular");
    src: url(../fonts/Galien/Galien-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

.blog-article__action-button,
.popup-menu__close-button {
    border: none;
    background: none;
    cursor: pointer
}

.blog-article__image {
    width: 100%;
    object-fit: cover
}

.blog-article__header {
    font-family: Galien;
    font-size: 28px;
    line-height: 38px;
    color: #1f3f68;
    margin-bottom: 16px
}

.blog-article__link {
    text-decoration: inherit;
    color: inherit
}

.blog-article__link:hover {
    text-decoration: underline
}

.blog-article__summary {
    line-height: 26px;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 16px
}

.blog-article__information-and-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px
}

.blog-article__information {
    font-size: 14px;
    line-height: 24px
}

.blog-article__author {
    color: #1f3f68;
    margin-bottom: 4px
}

.blog-article__date-publish {
    color: rgba(0, 0, 0, .6)
}

.blog-article__action-button {
    width: 18px;
    height: 22px
}

.blog-article__action-button:last-child {
    margin-left: 38px
}

.blog-article__action-icon {
    width: 100%;
    height: 100%
}

@media (min-width:940px) {
    .blog-article_size_big_up940.blog-article {
        display: flex
    }
    .blog-article_size_big_up940 .blog-article__image {
        width: 540px;
        order: 1
    }
    .blog-article_size_big_up940 .blog-article__wrapper {
        display: grid;
        grid-template-rows: auto auto auto;
        row-gap: 30px;
        margin-right: 20px
    }
    .blog-article_size_big_up940 .blog-article__summary {
        min-height: 150px
    }
    .blog-article_size_big_up940 .blog-article__header {
        font-size: 48px;
        line-height: 58px
    }
}

@media (max-width:939px) and (min-width:700px) {
    .article_size_normal_up700_down939.blog-article {
        display: flex;
        column-gap: 20px
    }
    .article_size_normal_up700_down939 .blog-article__image {
        width: 300px
    }
}

@media (min-width:700px) {
    .article_size_normal_up700.blog-article {
        display: flex;
        column-gap: 20px
    }
    .article_size_normal_up700 .blog-article__image {
        width: 300px
    }
}

.button {
    border: none;
    border-radius: 10px;
    padding: 15px 48px;
    background: #5a98d0;
    cursor: pointer;
    transition: background .3s
}

.button:hover {
    background: #1d5483
}

.button__text {
    color: #fff;
    font-size: 16px
}

.button_shadow {
    box-shadow: 5px 20px 50px rgba(16, 112, 177, .2)
}

.card-background-image {
    display: block;
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit
}

.card-background-image__content {
    width: fit-content;
    margin-top: 24px;
    margin-left: 32px;
    color: #fff
}

.card-background-image__header {
    font-size: 28px;
    font-weight: 700;
    line-height: 46px
}

.card-background-image:hover .card-background-image__header {
    text-decoration: underline
}

.card-background-image__summary {
    line-height: 46px;
    margin-top: 4px
}

.card-background-image__background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1
}

.card-background-image__background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    transition: transform .3s
}

.card-background-image:hover .card-background-image__background-image {
    transform: scale(120%)
}

.card-background-image__background-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(308.85deg, rgba(66, 165, 245, .4) -1.71%, rgba(21, 101, 192, .6) 74.54%)
}

.card-background-image__background-image-overlay {
    position: absolute;
    width: 90%;
    left: 0;
    bottom: 0;
    max-width: 380px
}

@media (min-width:651px) {
    .card-background-image_text-right_up650 .card-background-image__content {
        text-align: right;
        margin: 48px 48px auto auto
    }
}

@media (max-width:870px) and (min-width:651px) {
    .card-background-image_text-right_up650_down870 .card-background-image__content {
        text-align: right;
        margin: 48px 48px auto auto
    }
}

.card-with-picture {
    box-shadow: 5px 20px 50px rgba(16, 112, 177, .2);
    border-radius: 10px;
    padding: 48px
}

.card-with-picture__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 96px);
    height: 228px;
    margin-left: -48px;
    margin-top: -48px
}

.card-with-picture__header {
    font-size: 20px;
    margin-bottom: 16px;
    color: #1f3f68
}

.card-with-picture__summary {
    margin-bottom: 32px;
    color: #798ca4
}

.clickable-picture {
    border: none;
    background: none;
    cursor: pointer
}

.clickable-picture__picture {
    width: 16px;
    height: 16px
}

.clickable-picture_size_48 .clickable-picture__picture {
    width: 48px;
    height: 48px
}

@media (min-width:860px) {
    .company-information {
        display: flex;
        justify-content: space-between
    }
}

.company-information__logo {
    margin-bottom: 32px
}

.company-information__about-us,
.company-information__follow-us,
.company-information__short-information {
    max-width: 270px
}

@media (max-width:859px) {
    .company-information__about-us,
    .company-information__follow-us,
    .company-information__short-information {
        margin-bottom: 24px
    }
    .company-information__about-us:last-child,
    .company-information__follow-us:last-child,
    .company-information__short-information:last-child {
        margin-bottom: 0
    }
}

.contects-block__header {
    color: #1f3f68;
    margin-bottom: 24px
}

.contacts-block__item {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    opacity: .6
}

.contacts-block__item:last-child {
    margin-bottom: 0
}

.contacts-block__item-link {
    color: inherit;
    text-decoration: inherit
}

.contacts__block {
    margin-bottom: 40px
}

.contacts__block:last-child {
    margin-bottom: 0
}

@media (max-width:960px) and (min-width:741px) {
    .contacts__block_one-line_up740_down960 {
        display: flex;
        justify-content: space-between
    }
    .contacts__block_one-line_up740_down960 .contacts__block {
        width: 300px;
        margin: 0
    }
    .contacts__block_one-line_up740_down960 .contects-block__header {
        text-align: center
    }
    .contacts__block_one-line_up740_down960 .contects-block__list {
        width: fit-content;
        margin: auto
    }
}

@media (min-width:961px) {
    .contact-us {
        display: grid;
        grid-template-columns: 300px 540px;
        grid-template-rows: auto fit-content;
        justify-content: space-between
    }
}

.contact-us__illustration {
    display: block
}

@media (max-width:960px) {
    .contact-us__illustration {
        margin: auto;
        margin-bottom: 24px
    }
}

@media (min-width:961px) {
    .contact-us__illustration {
        align-self: center
    }
}

@media (max-width:960px) {
    .contact-us__contacts {
        margin-bottom: 24px
    }
}

@media (min-width:961px) {
    .contact-us__message-form {
        grid-row: 1/span 2;
        grid-column: 2;
        align-self: center
    }
}

@media (max-width:960px) {
    .contact-us__message-form {
        margin: auto;
        max-width: 540px
    }
}

.copyright {
    line-height: 26px;
    color: hsla(0, 0%, 100%, .6)
}

.footer {
    color: #fff;
    background: #316099;
    padding-bottom: 64px
}

@media (min-width:860px) {
    .footer {
        padding-top: 90px;
        margin-right: 96px;
        border-radius: 0 200px 0 0
    }
}

@media (max-width:859px) {
    .footer {
        padding-top: 20px
    }
}

.footer__section {
    max-width: 960px;
    padding: 0 10px
}

@media (min-width:950px) {
    .footer__section {
        margin-left: calc((100vw - 960px) / 2)
    }
}

@media (min-width:860px) {
    .footer__work-with-our-team .title-with-button__title {
        max-width: 320px
    }
}

@media (min-width:860px) {
    .footer__work-with-our-team .title-with-button__summary {
        max-width: 460px
    }
}

.footer__separator {
    margin: 96px 0;
    max-width: calc(940px + (100vw - 960px) / 2)
}

.footer__company-information {
    margin-bottom: 64px
}

@media (min-width:860px) {
    .footer__company-information {
        margin-right: 125px
    }
    .footer__company-information .company-information__follow-us {
        width: 95px
    }
}

.footer-big {
    color: #fff;
    background-color: #5a98d0
}

@media (min-width:860px) {
    .footer-big {
        padding-top: 90px;
        border-radius: 200px 0 0 0
    }
}

@media (max-width:859px) {
    .footer-big {
        padding-top: 20px
    }
}

.footer-big__section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding: 0 10px
}

.footer-big__section.footer-big__section_our-clients {
    margin-bottom: 125px
}

.full-logo {
    display: flex;
    align-items: center
}

.full-logo__logo {
    width: 48px;
    height: 48px;
    margin-right: 16px
}

.full-logo__company-name {
    font-weight: 500;
    font-size: 28px;
    line-height: 46px
}

.grid-view-with-separator {
    display: grid;
    align-items: center
}

@media (min-width:881px) {
    .grid-view-with-separator {
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr
    }
}

@media (max-width:880px) {
    .grid-view-with-separator {
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr
    }
}

.grid-view-with-separator__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-right: 1px solid hsla(0, 0%, 100%, .6);
    border-bottom: 1px solid hsla(0, 0%, 100%, .6)
}

@media (min-width:881px) {
    .grid-view-with-separator__item:nth-child(2n) {
        border-bottom: none
    }
    .grid-view-with-separator__item:nth-last-child(-n+2) {
        border-right: none
    }
}

@media (max-width:880px) {
    .grid-view-with-separator__item:nth-child(2n) {
        border-right: none
    }
    .grid-view-with-separator__item:nth-last-child(-n+2) {
        border-bottom: none
    }
}

.grid-view-with-separator__link {
    display: block;
    width: 100%;
    color: inherit;
    text-decoration: inherit
}

.grid-view-with-separator__item-content {
    display: block;
    width: fit-content;
    margin: auto
}

.grid-view-with-separator__item-content.grid-view-with-separator__item-content_type_image {
    width: 80px;
    height: 80px
}

.grid-view-with-separator__item-content.grid-view-with-separator__item-content_type_text {
    font-size: 20px
}

.grid-view-with-separator__item-content.grid-view-with-separator__item-content_type_text:hover {
    text-decoration: underline
}

.grid-view-with-separator_list-background-dark .grid-view-with-separator__item:last-child {
    background-color: rgba(0, 0, 0, .1)
}

.group-articles__header {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 32px;
    color: #356ead
}

.group-articles__article {
    margin-bottom: 32px
}

.group-articles__article:last-child {
    margin-bottom: 0
}

.group-articles__links {
    display: flex;
    margin-top: 56px;
    color: #356ead;
    line-height: 20px;
    font-weight: 500;
    justify-content: right
}

.group-articles__links_count_multiple {
    justify-content: space-between
}

.group-articles__link {
    color: inherit;
    text-decoration: inherit;
    display: flex;
    gap: 19px;
    align-items: center
}

@media (min-width:940px) {
    .group-articles_layout_grid .group-articles__articles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 32px;
        column-gap: 20px
    }
    .group-articles_layout_grid .group-articles__article {
        margin-bottom: 0
    }
    .group-articles_layout_grid .group-articles__article:first-child {
        grid-column: span 3
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 128px;
    padding: 40px 6.07%;
    background-color: #fff;
    transition: all .3s ease-out
}

.header_hidden {
    transform: translateY(-128px)
}

.hero {
    padding-right: 10px;
    padding-bottom: 60px;
    background: linear-gradient(0deg, rgba(152, 195, 232, .2) 8.84%, rgba(152, 195, 232, 0) 31.12%)
}

@media (min-width:961px) {
    .hero {
        padding-left: calc((100vw - 940px) / 2)
    }
}

@media (max-width:960px) {
    .hero {
        padding-left: 10px
    }
}

.hero__wrapper {
    width: 100%;
    max-width: 1130px
}

@media (min-width:901px) {
    .hero__wrapper {
        display: grid;
        grid-template-columns: 9fr 11fr
    }
}

.hero__text {
    align-self: center
}

.hero__text .title-with-button__title {
    font-family: Galien, serif;
    font-size: 64px;
    line-height: 74px;
    color: #1f3f68
}

@media (min-width:901px) {
    .hero__text .title-with-button__summary {
        margin-right: 60px
    }
}

.hero__illustration {
    width: 100%
}

@media (min-width:901px) {
    .hero__illustration {
        order: 2;
        width: calc(100% + 60px);
        margin-left: -60px
    }
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.input-field__label {
    color: #1f3f68
}

.input-field__input {
    padding: 20px 40px;
    font-family: Gilroy;
    font-size: 16px;
    line-height: 30px;
    outline: none;
    border: 1px solid #356ead;
    border-radius: 10px
}

.input-field__input.input-field__input_type_textarea {
    width: 100%;
    resize: none
}

.input-field__input::placeholder {
    opacity: .2
}

.input-field__input:focus {
    padding: 19px 39px;
    border-width: 2px
}

.input-field__input:invalid {
    border-color: red
}

.link-with-icon {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: inherit;
    gap: 28px
}

.link-with-icon:hover {
    text-decoration: underline
}

.link-with-icon__text {
    color: #5a98d0;
    font-weight: 600
}

.link-with-icon__icon {
    width: 16px;
    height: 16px
}

.list-various-marker {
    list-style-type: none
}

.list-various-marker__element {
    margin-bottom: 24px;
    display: flex;
    align-items: start;
    column-gap: 16px;
    line-height: 26px
}

.list-various-marker__element:last-child {
    margin-bottom: 0
}

.list-various-marker__marker {
    font-weight: 700
}

.maps {
    width: 100%;
    height: 480px
}

.maps__iframe {
    width: 100%;
    height: 100%
}

.our-clients__title {
    margin-bottom: 96px
}

.page-body {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    letter-spacing: .04em
}

.page-body__header {
    z-index: 1;
    position: fixed
}

.page-body__main {
    padding-top: 128px
}

.page-body__section_width-limit {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding: 0 10px
}

.page-body_section-margin_56 .page-body__section {
    margin-bottom: 56px
}

.page-body_section-margin_56 .page-body__section:last-child {
    margin-bottom: 0
}

.page-body_section-margin_96 .page-body__section {
    margin-bottom: 56px
}

.page-body_section-margin_96 .page-body__section:last-child {
    margin-bottom: 0
}

.page-body_section-margin_192 .page-body__section {
    margin-bottom: 192px
}

.page-body_section-margin_192 .page-body__section:last-child {
    margin-bottom: 0
}

.page-body_footer-margin_96 .page-body__footer {
    margin-top: 96px
}

.page-body_footer-margin_192 .page-body__footer {
    margin-top: 192px
}

.page-title {
    background: url(../img/page_title_background.svg);
    background-size: cover;
    padding: 50px 0
}

.page-title__body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 780px;
    text-align: center
}

.page-title__header {
    color: #fff;
    font-size: 44px;
    font-weight: 600;
    line-height: 74px;
    margin-bottom: 16px
}

.page-title__summary {
    color: hsla(0, 0%, 100%, .4);
    font-size: 20px;
    line-height: 30px
}

.popup-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100
}

.popup-menu.popup-menu_disabled {
    pointer-events: none
}

.popup-menu__grey-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    opacity: 1;
    transition: all .3s
}

.popup-menu_disabled .popup-menu__grey-overlay {
    opacity: 0
}

.popup-menu__content {
    position: absolute;
    max-width: 400px;
    width: 85%;
    height: 100%;
    padding: 100px 50px;
    top: 0;
    right: 0;
    transform: translateX(0);
    transition: all .3s;
    border-radius: 50px 0 0 0;
    background: #5a98d0;
    overflow-y: scroll;
    color: #fff
}

.popup-menu_disabled .popup-menu__content {
    transform: translateX(400px)
}

.popup-menu__close-button {
    position: fixed;
    top: 29px;
    right: 18px
}

.popup-menu__close-icon {
    width: 22px;
    height: 22px
}

.popup-menu__navigation-section {
    margin-bottom: 32px
}

.popup-menu__navigation-section:last-child {
    margin-bottom: 0
}

.projects__header {
    color: #1f3f68;
    margin-bottom: 96px
}

.projects__header .title-with-summary__summary {
    max-width: 540px
}

@media (min-width:871px) {
    .projects__cards {
        display: grid;
        grid-template-columns: 420px 420px;
        justify-content: space-between;
        row-gap: 96px
    }
}

@media (min-width:871px) {
    .projects__card:first-child {
        grid-column: span 2
    }
}

@media (max-width:870px) {
    .projects__card {
        margin-bottom: 50px
    }
    .projects__card:last-child {
        margin-bottom: 0
    }
}

.search {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #f4f4f4;
    padding: 19px 27px
}

.search:focus-within {
    padding: 18px 26px;
    border: 1px solid #3391da
}

.search__icon {
    width: 24px;
    height: 24px
}

.search__input {
    width: 100%;
    font-size: 16px;
    margin-left: 24px;
    outline: none;
    border: none;
    background: transparent
}

.send-message-form {
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, .2)
}

@media (min-width:451px) {
    .send-message-form {
        padding: 56px
    }
}

@media (max-width:450px) {
    .send-message-form {
        padding: 28px
    }
}

.send-message-form__header {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 48px;
    color: #1f3f68
}

.send-message-form__fields {
    margin-bottom: 72px
}

.send-message-form__input-field {
    margin-bottom: 32px
}

.send-message-form__input-field:last-child {
    margin-bottom: 0
}

.send-message-form__input-field .input-field__input_type_textarea {
    height: 144px
}

.send-message-form__button {
    width: 100%;
    font-weight: 700;
    padding-top: 23px;
    padding-bottom: 23px
}

.separator {
    border: none;
    background-color: rgba(0, 0, 0, .2);
    height: 1px
}

.separator_color_white {
    background-color: hsla(0, 0%, 100%, .2)
}

.title-with-button__title {
    font-size: 32px;
    margin-bottom: 32px
}

.title-with-button__summary {
    margin-bottom: 90px;
    opacity: .6
}

.title-with-button__button {
    width: 100%;
    max-width: 220px
}

@media (min-width:650px) {
    .title-with-button_column.title-with-button {
        display: grid;
        grid-template-columns: auto 220px;
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        gap: 32px
    }
    .title-with-button_column .title-with-button__summary,
    .title-with-button_column .title-with-button__title {
        margin-bottom: 0
    }
    .title-with-button_column .title-with-button__button {
        grid-row: span 2;
        align-self: center
    }
}

@media (min-width:801px) {
    .title-with-summary {
        display: flex;
        gap: 93px
    }
}

.title-with-summary__title {
    font-size: 36px;
    line-height: 46px
}

@media (min-width:801px) {
    .title-with-summary__title {
        flex-basis: min-content
    }
}

@media (max-width:800px) {
    .title-with-summary__title {
        text-align: center;
        margin-bottom: 32px
    }
}

.title-with-summary__summary {
    line-height: 26px;
    opacity: .6
}

@media (min-width:801px) {
    .title-with-summary__summary {
        flex-basis: max-content
    }
}

.titled-links-list__header-container {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 15px
}

.titled-links-list_drop-down .titled-links-list__header-container {
    cursor: pointer;
    user-select: none
}

.titled-links-list_drop-down_collapsed .titled-links-list__drop-down-arrow {
    transform: scale(-1)
}

.titled-links-list__header {
    font-size: 20px;
    line-height: 30px
}

.titled-links-list__links-list {
    list-style-type: none
}

.titled-links-list_drop-down_collapsed .titled-links-list__links-list {
    display: none
}

.titled-links-list__element-list {
    margin-bottom: 16px
}

.titled-links-list__element-list:last-child {
    margin-bottom: 0
}

.titled-links-list__link {
    color: inherit;
    text-decoration: inherit
}

.titled-links-list__link:hover {
    text-decoration: underline
}

.titled-links-list_margin-header .titled-links-list__header-container {
    margin-bottom: 32px
}

.what-can-help__header {
    color: #316099;
    font-size: 35px
}

@media (min-width:801px) {
    .what-can-help__header {
        position: absolute;
        width: 100%;
        max-width: 380px
    }
}

@media (max-width:801px) {
    .what-can-help__header {
        text-align: center;
        margin-bottom: 50px
    }
}

@media (min-width:801px) {
    .what-can-help__cards {
        display: grid;
        grid-template-columns: 380px 380px;
        justify-content: space-between;
        row-gap: 100px;
        max-width: 860px;
        margin-left: auto
    }
}

.what-can-help__card {
    min-height: 525px
}

@media (min-width:801px) {
    .what-can-help__card:first-child {
        grid-row: span 2;
        align-self: center
    }
}

@media (max-width:801px) {
    .what-can-help__card {
        margin-bottom: 50px
    }
    .what-can-help__card:last-child {
        margin-bottom: 0
    }
}

.what-can-help__card:first-child .card-with-picture__image {
    width: 182px;
    height: 132px;
    position: relative;
    left: -20.2px
}

.what-can-help__card:nth-child(2) .card-with-picture__image {
    width: 224px;
    height: 197px;
    position: relative;
    top: -43px
}

.what-can-help__card:nth-child(3) .card-with-picture__image {
    width: 156px;
    height: 131px;
    position: relative;
    left: -13.84px
}